:root {

    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #DBDBDB
    --header-height: 120px;
    --header-navbar: 40px;
    --header-with-search: calc(120px - var(--header-navbar));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive  */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test  */
.grid__col-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;

}
.grid__col-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;

}

/* Animation  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
    opacity: 0 ;
    transform: scale(var(--growth-from));
    }
    to {
        opacity: 1;
    transform: scale(var(--growth-to));
    }
}


/* modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;

}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.4;
    
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth ease-in 0.2s;
   

}

/* Button style  */

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;

}

.btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
   
    
}



.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #545454;
}


/* selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: #999;
    position: relative;
    top: 1.5px;
    cursor: pointer;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(216 212 212);
    list-style: none;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
    animation: fadeIn ease-in .2s;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 33px;
    right: 0px;
}

.select-input__item {
    padding: 8px 4px;
    text-align: center;

}
.select-input__item-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
}
.select-input__item-link:hover {
    color: var(--primary-color);
}
