.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);

}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-navbar);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex ;

}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/* Start user  */
.header__navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar-user-avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.header__navbar-user-name {
    font-size: 1.4rem;
    margin-left: 8px;
    font-weight: 400;
}

.header__navbar-user-account {
    padding-left: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 30px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px var(--border-color);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    animation: fadeIn ease-in .2s;
    

}



.header__navbar-user:hover 
.header__navbar-user-account {
    display: block;
}

.header__navbar-user::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    top: 17px;
   
}

.header__navbar-user-account::before {
    content: "";
    border: solid;
    border-width: 12px 14px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -23px;
    right: 57px;

}

.header__navbar-user-item {
    padding: 12px 12px;
}


.header__navbar-user-item:hover {
    background-color: #f7f7f7f7;
    cursor: pointer;
}

.header__navbar-user-item-child {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}

/* End user  */

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/*header QR code*/
.header__qr {
    width:186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -10px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;

}
.header__qr-link:nth-child(2) {
    margin-right: 11px;

}

.header__qr-download-img {
    height: 16px;

}

/* NOTIFY  */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100%-20px) top;
    animation: headerNotifyGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -29px;
    right: 4px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 12px;
    top: -12px;
    right: 0;
    
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item:hover {
    background-color: #f7f7f7f7;

}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
   

}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
    
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}
.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #999;
    line-height: 1.6rem;
    margin-top: 4px;
    
}

/* .header__notify-footer {
    display: flex;
} */

.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
}
/* START AUTHEN MODAL  */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}
.auth-form__container {
    padding: 0 30px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
}

.auth-form__heading {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
   
}
.auth-form__controls-back {
    margin-right: 8px;
    background-color: #F8F8F8;
}

.auth-form__social {
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    
}

.auth-form__social-icon {
    font-size: 1.8rem;

}
.auth-form__social--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__social--facebook
.auth-form__social-icon {
    color: var(--white-color);
    
}

.auth-form__social--google {
    color: var(--text-color);
    background-color: var(--white-color);
    
}

.auth-form__social-title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    
    

}
.auth-form__help-link {
    text-decoration: none;
    color: #939393;
    font-size: 1.2rem;
    
}
.auth-form__help-primary {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 16px;
    margin: 0 16px;
}
/* END AUTHEN MODAL  */

/* START HEADER WITH SEARCH  */
.header-with-search {
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header-logo {
    
}
.header-logo__shopee {
    font-size: 7rem;
    color: var(--white-color);
    padding-right: 40px;
    
}
.header-search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    
    
}


.header-search__input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header-search__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header-search__selection {
    font-size: 1.4rem;
    padding-left: 16px;
    border-left: 1px solid #E8E8E8;
    line-height: 2.5rem;
    position: relative;
    cursor: pointer;
}

.header-search__selection-label {
    color: var(--text-color);
}
.header-search__selection-icon {
    padding:  0 8px;
    color: #999;
    position: relative;
    top: 1.5px;
}

.header-search__btn {
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    margin-right: 3px;
    border-radius: 3px;
    outline: none;
}

.header-search__btn:hover {
    background-color: #f36b4f ;
    cursor: pointer;
}

.header-search__btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header-search__selection:hover 
.header-search__option {
    display: block;
    
}

.header-search__selection::before {
    content: "";
    width: 100%;
    height: 35px;
    position: absolute;
    top: 20px;
    left: -2px;   
}

.header-search__option {
   
    width: 122px;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 10px;
    list-style: none;
    padding: 0;
    box-shadow: 0 1px 2px rgb(216, 212, 212);
    overflow: hidden;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in .2s;
   

}
.header-search__option-item {
    background-color: var(--white-color);
    
    padding: 8px 8px;
    
    
}

.header-search__option-item:hover {
    background-color: rgb(249, 249, 249);
    cursor: pointer;
}

.header-search__option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header-search__option-item i {

    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 0 0 0 16px;
    display: none;
    

}
.header-search__option-item--active i {
 display: inline-block;
}

/* start Search History  */
.header-search__history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    margin-top: 3px;
    box-shadow: 0 1px 5px rgb(216, 212, 212);
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in .2s;
    overflow: hidden;
}

.header-search__input-wrap:focus-within 
.header-search__history {
    display: block;
}


.header-search__history-heading {
    margin: 0;
    padding: 0 16px;
    line-height: 36px;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(224, 216, 216);
    
    
}
.header-search__history-list {
    list-style: none;
    padding: 0;
    margin: 0;
   

}
.header-search__history-item {
    font-size: 1.4rem;
    padding: 0 16px;
    
}

.header-search__history-item a {
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 36px;
    color: var(--text-color);
}
.header-search__history-item:hover {
    cursor: pointer;
    background-color: rgb(249, 249, 249);
}

/* end Search History  */


/* END HEADER WITH SEARCH  */

/* HEADER-CART  */
.header-cart {
    width: 150px;
    text-align: center; 
}

.header-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header-cart__icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}



.header-cart__list {
    position: absolute;
    top: calc(100% + 7px);
    right: -3px;
    background-color: var(--white-color);
    width: 410px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    
}

.header-cart__list::before {
    content: "";
    border: solid;
    border-width: 12px 13px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -22px;
    right: 10px;
    cursor: pointer;

}

.header-cart-wrap:hover .header-cart__list {
    display: block;
    
}

.header-cart__list--no-cart {
    padding: 18px 0;
}

.header-cart__img {
    display: none;
    width: 60%;
   

}

.header-cart__info {
    display: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 18px ;
    color: var(--text-color);
}

.header-cart__notice {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 1px 8px;
    border-radius: 14px;
    border: 2px solid #EE4D2D;
    font-size: 1.5rem;
    line-height: 14px;
    top: -5px;
    right: -12px;
}

/* start no-cart */
.header-cart__list--no-cart
 .header-cart__img {
     display: inline-block;
 }
.header-cart__list--no-cart
 .header-cart__info {
     display: block;
 }

/* end no-cart  */

.header-cart__heading {
    font-size: 1.4rem;
    text-align: left;
    padding: 10px 12px;
    color: #ccc;
    font-weight: 300;
    margin: 0;
}
.header-cart__list-item {
    padding-left: 0;
    list-style: none;
}

.header-cart__item {
    display: flex;
    align-items: center;
    
}
.header-cart__item:hover {
    background-color: #f7f7f7f7;
}

.header-cart__item-img {
    width: 42px;
    height: 42px;
    margin: 12px 0 12px 12px;
    border: 1px solid var(--border-color);
}

.header-cart__item-info {
    width: 100%;
}

.header-cart__item-head {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 10px 12px;
    
   
}

.header-cart__item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0; 
}

.header-cart__item-price {
    font-size: 1.2rem;
     color: var(--primary-color);
}

.header-cart__item-multiply {
    margin-left: 4px;
}

.header-cart__item-qnt,
.header-cart__item-multiply,
.header-cart__item-remove {
    font-size: 1.1rem;
    color: #757575;
    
}


.header-cart__item-body {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px 0 12px;
}

.header-cart__item-description {
    font-size: 1.2rem;
    color: #999;
} 

.header-cart__item-remove {
    color: var(--text-color);
}
  
.header-cart__item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.btn.btn__view-cart {
    float: right;
    margin: 30px 12px 12px;
    height: 36px;
}
.btn.btn__view-cart:hover {
    background-color: #F05D41;
}